In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
data = pd.read_csv("credit_card_churn.csv")

In [2]:
data

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,...,2,3,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,...,2,3,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,...,3,4,5409.0,0,5409.0,0.819,10291,60,0.818,0.000
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,...,3,3,5281.0,0,5281.0,0.535,8395,62,0.722,0.000
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,...,2,4,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189

In [3]:
data = data.iloc[:, :-2]
data

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144,42
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291,33
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887,20
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,4,1,3313.0,2517,796.0,1.405,1171,20
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,3,2,3,4003.0,1851,2152.0,0.703,15476,117
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,4,2,3,4277.0,2186,2091.0,0.804,8764,69
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,5,3,4,5409.0,0,5409.0,0.819,10291,60
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,4,3,3,5281.0,0,5281.0,0.535,8395,62
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,6,2,4,10388.0,1961,8427.0,0.703,10294,61

In [4]:
data.describe()

,CLIENTNUM,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct
count,1.012700e+04,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000
mean,7.391776e+08,46.325960,2.346203,35.928409,3.812580,2.341167,2.455317,8631.953698,1162.814061,7469.139637,0.759941,4404.086304,64.858695
std,3.690378e+07,8.016814,1.298908,7.986416,1.554408,1.010622,1.106225,9088.776650,814.987335,9090.685324,0.219207,3397.129254,23.472570
min,7.080821e+08,26.000000,0.000000,13.000000,1.000000,0.000000,0.000000,1438.300000,0.000000,3.000000,0.000000,510.000000,10.000000
25%,7.130368e+08,41.000000,1.000000,31.000000,3.000000,2.000000,2.000000,2555.000000,359.000000,1324.500000,0.631000,2155.500000,45.000000
50%,7.179264e+08,46.000000,2.000000,36.000000,4.000000,2.000000,2.000000,4549.000000,1276.000000,3474.000000,0.736000,3899.000000,67.000000
75%,7.731435e+08,52.000000,3.000000,40.000000,5.000000,3.000000,3.000000,11067.500000,1784.000000,9859.000000,0.859000,4741.000000,81.000000
max,8.283431e+08,73.000000,5.000000,56.000000,6.000000,6.000000,6.000000,34516.000000,2517.000000,34516.000000,3.397000,18484.000000,139.000000

In [5]:
data.corr()

,CLIENTNUM,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct
CLIENTNUM,1.000000,0.007613,0.006772,0.134588,0.006907,0.005729,0.005694,0.005708,0.000825,0.005633,0.017369,-0.019692,-0.002961
Customer_Age,0.007613,1.000000,-0.122254,0.788912,-0.010931,0.054361,-0.018452,0.002476,0.014780,0.001151,-0.062042,-0.046446,-0.067097
Dependent_count,0.006772,-0.122254,1.000000,-0.103062,-0.039076,-0.010768,-0.040505,0.068065,-0.002688,0.068291,-0.035439,0.025046,0.049912
Months_on_book,0.134588,0.788912,-0.103062,1.000000,-0.009203,0.074164,-0.010774,0.007507,0.008623,0.006732,-0.048959,-0.038591,-0.049819
Total_Relationship_Count,0.006907,-0.010931,-0.039076,-0.009203,1.000000,-0.003675,0.055203,-0.071386,0.013726,-0.072601,0.050119,-0.347229,-0.241891
Months_Inactive_12_mon,0.005729,0.054361,-0.010768,0.074164,-0.003675,1.000000,0.029493,-0.020394,-0.042210,-0.016605,-0.032247,-0.036982,-0.042787
Contacts_Count_12_mon,0.005694,-0.018452,-0.040505,-0.010774,0.055203,0.029493,1.000000,0.020817,-0.053913,0.025646,-0.024445,-0.112774,-0.152213
Credit_Limit,0.005708,0.002476,0.068065,0.007507,-0.071386,-0.020394,0.020817,1.000000,0.042493,0.995981,0.012813,0.171730,0.075927
Total_Revolving_Bal,0.000825,0.014780,-0.002688,0.008623,0.013726,-0.042210,-0.053913,0.042493,1.000000,-0.047167,0.058174,0.064370,0.056060
Avg_Open_To_Buy,0.005633,0.001151,0.068291,0.006732,-0.072601,-0.016605,0.025646,0.995981,-0.047167,1.000000,0.007595,0.165923,0.070885
Total_Amt_Chng_Q4_Q1,0.017369,-0.062042,-0.035439,-0.048959,0.050119,-0.032247,-0.024445,0.012813,0.058174,0.007595,1.000000,0.039678,0.005469
Total_Trans_Amt,-0.019692,-0.046446,0.025046,-0.038591,-0.347229,-0.036982,-0.112774,0.171730,0.064370,0.165923,0.039678,1.000000,0.807192
Total_Trans_Ct,-0.002961,-0.067097,0.049912,-0.049819,-0.241891,-0.042787,-0.152213,0.075927,0.056060,0.070885,0.005469,0.807192,1.000000

In [6]:
print(data.dtypes)

CLIENTNUM                     int64
Attrition_Flag               object
Customer_Age                  int64
Gender                       object
Dependent_count               int64
Education_Level              object
Marital_Status               object
Income_Category              object
Card_Category                object
Months_on_book                int64
Total_Relationship_Count      int64
Months_Inactive_12_mon        int64
Contacts_Count_12_mon         int64
Credit_Limit                float64
Total_Revolving_Bal           int64
Avg_Open_To_Buy             float64
Total_Amt_Chng_Q4_Q1        float64
Total_Trans_Amt               int64
Total_Trans_Ct                int64
dtype: object

In [7]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
data['Attrition_Flag'] = le.fit_transform(data['Attrition_Flag'])

In [8]:
#Selecting the significant categorical variable
from scipy.stats import chi2_contingency

In [29]:
#Selecting the significant categorical variable

from scipy.stats import chi2_contingency

# Calculate chi-square test of independence for each categorical feature
for column in data.columns:
    if column != 'Attrition_Flag' and data[column].dtype == 'object':
        contingency_table = pd.crosstab(data[column], data['Attrition_Flag'])
        chi2, p_value, dof, expected = chi2_contingency(contingency_table)
        print(f'{column}: p-value = {p_value}')

Education_Level: p-value = 0.05148913147336634
Marital_Status: p-value = 0.10891263394840227
Card_Category: p-value = 0.5252382797994759

In [30]:
#Selecting the significant numerical variable
from scipy.stats import pointbiserialr

In [31]:
corr, p = pointbiserialr(data['Customer_Age'], data['Attrition_Flag'])
print("Point-biserial correlation coefficient:customer age", corr)
print("p-value:", p)

corr, p = pointbiserialr(data['Months_on_book'], data['Attrition_Flag'])
print("Point-biserial correlation coefficient:Months_on_book", corr)
print("p-value:", p)

corr, p = pointbiserialr(data['Months_Inactive_12_mon'], data['Attrition_Flag'])
print("Point-biserial correlation coefficient:Months_Inactive_12_mon", corr)
print("p-value:", p)

corr, p = pointbiserialr(data['Contacts_Count_12_mon'], data['Attrition_Flag'])
print("Point-biserial correlation coefficient:Contacts_Count_12_mon", corr)
print("p-value:", p)

corr, p = pointbiserialr(data['Credit_Limit'], data['Attrition_Flag'])
print("Point-biserial correlation coefficient:Credit_Limit", corr)
print("p-value:", p)

corr, p = pointbiserialr(data['Total_Revolving_Bal'], data['Attrition_Flag'])
print("Point-biserial correlation coefficient:Total_Revolving_Bal", corr)
print("p-value:", p)

corr, p = pointbiserialr(data['Months_on_book'], data['Attrition_Flag'])
print("Point-biserial correlation coefficient:Months_on_book", corr)
print("p-value:", p)

corr, p = pointbiserialr(data['Avg_Open_To_Buy'], data['Attrition_Flag'])
print("Point-biserial correlation coefficient:Avg_Open_To_Buy", corr)
print("p-value:", p)

corr, p = pointbiserialr(data['Total_Amt_Chng_Q4_Q1'], data['Attrition_Flag'])
print("Point-biserial correlation coefficient:Total_Amt_Chng_Q4_Q1", corr)
print("p-value:", p)

corr, p = pointbiserialr(data['Total_Trans_Amt'], data['Attrition_Flag'])
print("Point-biserial correlation coefficient:Total_Trans_Amt", corr)
print("p-value:", p)

corr, p = pointbiserialr(data['Total_Trans_Ct'], data['Attrition_Flag'])
print("Point-biserial correlation coefficient:Total_Trans_Ct", corr)
print("p-value:", p)

corr, p = pointbiserialr(data['Avg_Utilization_Ratio'], data['Attrition_Flag'])
print("Point-biserial correlation coefficient:Avg_Utilization_Ratio", corr)
print("p-value:", p)

Point-biserial correlation coefficient:customer age -0.01820313853255065
p-value: 0.06698688501759016
Point-biserial correlation coefficient:Months_on_book -0.01368685117790971
p-value: 0.1684370287649442
Point-biserial correlation coefficient:Months_Inactive_12_mon -0.152448806326925
p-value: 1.0326639995930894e-53
Point-biserial correlation coefficient:Contacts_Count_12_mon -0.2044905099816044
p-value: 4.697489630751521e-96
Point-biserial correlation coefficient:Credit_Limit 0.023872994836161524
p-value: 0.01628535720539447
Point-biserial correlation coefficient:Total_Revolving_Bal 0.2630528831292032
p-value: 6.630148455417239e-160
Point-biserial correlation coefficient:Months_on_book -0.01368685117790971
p-value: 0.1684370287649442
Point-biserial correlation coefficient:Avg_Open_To_Buy 0.00028507749393779595
p-value: 0.977116089445888
Point-biserial correlation coefficient:Total_Amt_Chng_Q4_Q1 0.13106284781447014
p-value: 4.836642703584966e-40
Point-biserial correlation coefficient:Total_Trans_Amt 0.168598381410079
p-value: 1.857438655661277e-65
Point-biserial correlation coefficient:Total_Trans_Ct 0.37140270118892776
p-value: 0.0

KeyError: 'Avg_Utilization_Ratio'

In [27]:
#final variables -> Gender, Income category, Avg Utilization ratio, total revolving balance, months inactive_12mon, Total transaction amount, Total_Amt_Chng_Q4_Q1

In [23]:
#Step2: Sampling strategy 
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import StratifiedKFold, cross_val_score

In [24]:
# Load data and select final variables
data = data[['Attrition_Flag', 'Gender', 'Income_Category', 'Avg_Utilization_Ratio', 'Total_Revolving_Bal', 'Months_Inactive_12_mon', 'Total_Trans_Amt', 'Total_Amt_Chng_Q4_Q1']]

KeyError: "['Avg_Utilization_Ratio'] not in index"

In [25]:
# Encode 'Attrition_Flag', 'Gender', and 'Income_Category' columns
le = LabelEncoder()
data['Attrition_Flag'] = le.fit_transform(data['Attrition_Flag'])
data['Gender'] = le.fit_transform(data['Gender'])
data['Income_Category'] = le.fit_transform(data['Income_Category'])

In [14]:
# Divide data into attained and existing customers
attained_customers = data[data['Attrition_Flag'] == 1]
existing_customers = data[data['Attrition_Flag'] == 0]

In [15]:
# Divide attained and existing customers into 5 subsets
attained_customers_splits = np.array_split(attained_customers, 5)
existing_customers_splits = np.array_split(existing_customers, 5)

In [16]:
# Create 5 balanced datasets
balanced_datasets = [pd.concat([attained_split, existing_split]) for attained_split, existing_split in zip(attained_customers_splits, existing_customers_splits)]

In [17]:
#Create 5 balanced datasets
balanced_datasets = [pd.concat([attained_customers, split]) for split in existing_customers_splits]

In [18]:
#Create the combined dataset
num_existing_customers = min(1650, len(existing_customers))
selected_existing_customers = existing_customers.sample(n=num_existing_customers, random_state=42)
combined_dataset = pd.concat([attained_customers, selected_existing_customers])

In [19]:
# Cross-validation
n_folds = 5
cv = StratifiedKFold(n_splits=n_folds, shuffle=True, random_state=42)

NameError: name 'StratifiedKFold' is not defined

In [20]:
# Train models on the 5 balanced datasets
for i, dataset in enumerate(balanced_datasets):
    X = dataset.drop('Attrition_Flag', axis=1)
    y = dataset['Attrition_Flag']
    
    print(f"Value counts for dataset {i+1}:")
    print(y.value_counts())
    
    clf = GaussianNB()
    clf.fit(X, y)
    
    predictions = clf.predict(X)
    print(f"Accuracy for dataset {i+1}: {accuracy_score(y, predictions)}")
    print(f"Classification report for dataset {i+1}:\n{classification_report(y, predictions)}")

Value counts for dataset 1:
1    8500
0     326
Name: Attrition_Flag, dtype: int64

NameError: name 'GaussianNB' is not defined

In [23]:
# Use one dataset with all attained customers and around 1650 existing customers (random sample)
num_existing_customers = min(1650, len(existing_customers))
selected_existing_customers = existing_customers.sample(n=num_existing_customers, random_state=42)
combined_dataset = pd.concat([attained_customers, selected_existing_customers])

X = combined_dataset.drop('Attrition_Flag', axis=1)
y = combined_dataset['Attrition_Flag']

clf = GaussianNB()
clf.fit(X, y)

predictions = clf.predict(X)
print(f"Accuracy for combined dataset: {accuracy_score(y, predictions)}")
print(f"Classification report for combined dataset:\n{classification_report(y, predictions)}")

Accuracy for combined dataset: 0.8399328527698232
Classification report for combined dataset:
              precision    recall  f1-score   support

           0       0.50      0.40      0.45      1627
           1       0.89      0.92      0.91      8500

    accuracy                           0.84     10127
   macro avg       0.70      0.66      0.68     10127
weighted avg       0.83      0.84      0.83     10127